/* Styles for TOP-signup-form */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Post meyer reset */

/*Variables*/
/* Settings for global font */
:root {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    --content-width: calc(600px + 5rem);
}

/* Settings for specific font */
h2 {
    font-size: 26pt;
    font-weight: 500;
}

p,
input {
    font-size: 16pt;
}

em {
    font-style: italic;
}

/* Styling that affects many, but not all classes */
div {
    display: block;
}

.container,
.content-pane,
ul,
li {
    display: flex;
}

ul {
    flex-wrap: wrap;
}

.content-pane,
li {
    flex-direction: column;
}

fieldset:first-child, 
.welcome-message,
.create-account,
.login {
    margin-left: 3rem;
}

.welcome-message {
    margin-top: 8rem;
}

form {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    margin-top: 5rem;
}

ul,
.create-account,
.login {
    margin-top: 3rem;
}

ul,
.welcome-message {
    width: var(--content-width);
}

/* Sizing for Elements */

.container {
    height: 100vh;
    width: 100vw;
}

.content-pane {
    width: 60vw;
}

form,
.signup {
    width: 100%;
}

input,
label {
    display: block;
    width: 300px;
}

ul {
    gap: 2rem;
}

li {
    gap: .5rem;
}

/* Box Shadow */

.content-pane {
    box-shadow: -5px 0px  5px rgba(0, 0, 0, .1);
}

form {
    box-shadow: 
    0px 5px 5px rgba(0,0,0,.05),
    0px -5px 5px rgba(0,0,0,.05);
}

/* Background Colors and Images */

.content-pane {
    background-color: #FDFDFD;
}

form {
    background-color: #fff;
}

.background-image {
    background-image: url(images/keyboard-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: bisque;
    width: 40vw;
}
