/* Styles for TOP-signup-form */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Post meyer reset */

/*Variables*/
/* Settings for global font */
:root {
    --content-width: calc(600px + 3rem);
    /* Colors */
    --matcha: #69bf64;
    --matcha-light: #aaDFa6;
    --logo-text-font-light: #FDFDFD;
    --logo-text-font-dark: #343434;
    --input-light-gray: #AAA;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: var(--logo-text-font-dark);
}

@font-face {
    font-family: cacha;
    src: url(./fonts/CachaPersonalUseRegular-GOx6g.ttf);
}

/* Settings for specific font */
h1 {
    font-size: 42px;
    font-weight: 600px;
}

h2 {
    font-size: 26pt;
    font-weight: 500;
}

p,
button {
    font-size: 16pt;
}

input {
    font-size: 14px;
}

em {
    font-style: italic;
}

.error > p {
    font-size: 14px;
    font-weight: 600;
    color: rgb(191, 100, 100);
}

/* Styling that affects many, but not all classes */
div {
    display: block;
}

.container,
.content-pane,
.background-image,
.company-name,
ul,
li {
    display: flex;
}

ul {
    flex-wrap: wrap;
}

.content-pane,
li {
    flex-direction: column;
}

fieldset:first-child, 
button,
.welcome-message,
.create-account,
.login {
    margin-left: 3rem;
}

.welcome-message {
    margin-top: 8rem;
}

ul,
button,
.create-account,
.login {
    margin-top: 3rem;
}

ul,
.welcome-message {
    width: min(80%, var(--content-width));
}

/* Sizing for Elements */

.container {
    height: 100vh;
    width: 100vw;
}

.content-pane {
    width: 60vw;
}

form,
.signup {
    width: 100%;
}

input,
label {
    display: block;
    height: 24px;
    width: 300px;
    font-weight: 600;
}

ul {
    gap: 2rem;
}

li {
    gap: .5rem;
}

/* Box Shadow */

.content-pane {
    box-shadow: -5px 0px  5px rgba(0, 0, 0, .1);
}

/* Background Colors and Images */

.content-pane {
    background-color: #FDFDFD;
}

.background-image {
    background-image: url(images/keyboard-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: bisque;
    width: 40vw;
}

/*Logo and Company name*/

.company-name {
    justify-content: center;
    font-family: cacha;
    gap: 3rem;
    align-items: center;
    margin-top: 10rem;
    width: 100%;
    height: 200px;
    background-color: rgba(0,0,0,.7);
    box-shadow: 0px 5px 5px rgba(0,0,0,.3);
    color: var(--logo-text-font-light)
}

/* Button */

button {
    background-color: var(--matcha);
    color: var(--logo-text-font-light);
    box-shadow: 5px 5px 5px rgba(100, 191, 100, .5);
    border: 2px solid var(--logo-text-font-light);
    border-radius: 16px;
    width: 300px;
    height: 60px;
    font-weight: 600;
}

button:hover {
    background-color: var(--matcha-light);
    color: var(--logo-text-font-dark);
}

/* Form */

.required {
    font-size: 12px;
    margin-top: 1rem;
}

form {
    background-color: #fff;
    box-shadow: 
    0px 5px 5px rgba(100, 191, 100, .2),
    0px -5px 5px rgba(100, 191, 100,.2);
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    margin-top: 5rem;
}

/* Styling for form elements and links*/

a:link {
    color: var(--matcha);
}

a:visited {
    color: var(--matcha-light);
}

input {
    border: 2px solid var(--input-light-gray);
    border-radius: 5px;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus {
    background: rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 5px rgba(100, 191, 100, .5);
}






